elemento {
/* CSS HEX */
--baby-blue-eyes: #a7c8f1ff;
--rich-black-fogra-29: #061323ff;
--rich-black-fogra-29-2: #09101eff;
--xiketic: #0c0d19ff;
--gray-web: #7f7e83ff;
--cultured: #f0f0f0ff;

/* CSS HSL */
--baby-blue-eyes: hsla(213, 73%, 80%, 1);
--rich-black-fogra-29: hsla(213, 71%, 8%, 1);
--rich-black-fogra-29-2: hsla(220, 54%, 8%, 1);
--xiketic: hsla(235, 35%, 7%, 1);
--gray-web: hsla(252, 2%, 50%, 1);
--cultured: hsla(0, 0%, 94%, 1);
}
